<div id="<%= dom_id book %>">
  <p>
  <strong>ID:</strong>
  <%= book.id %>
  </p>

<p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>
  <p>
    <strong> description: </strong>
    <%= book.description%>

  </p>

  <p>
    <strong> isbn: </strong>
    <%= book.isbn %>

  </p>


</div>
